<div class="pdblog-wrapper">
  <div class="mic-container">
    
    <!-- first col -->
    <div class="mic-col-4">
      <h1 class="pdblog-title">Articles on Health Insurance</h1>
      <label class="pdblog-subtitle">Health Insurance</label>
      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/articles/thumbnail_320x180/what-are-the-best-insurance-plans-against-terrorist-attacks--1459137227.jpg" alt="What are the best insurance plans against terrorist attacks?" title="What are the best insurance plans against terrorist attacks?">
          </div>
          <div class="pdblog-desc">
            What are the best insurance plans against terrorist attacks?      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/articles/thumbnail_320x180/what-are-the-best-insurance-plans-against-terrorist-attacks--1459137227.jpg" alt="What are the best insurance plans against terrorist attacks?" title="What are the best insurance plans against terrorist attacks?">
          </div>
          <div class="pdblog-desc">
            What are the best insurance plans against terrorist attacks?      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/articles/thumbnail_320x180/what-are-the-best-insurance-plans-against-terrorist-attacks--1459137227.jpg" alt="What are the best insurance plans against terrorist attacks?" title="What are the best insurance plans against terrorist attacks?">
          </div>
          <div class="pdblog-desc">
            What are the best insurance plans against terrorist attacks?      
          </div>
        </div>
      </a>

      <div class="pdblog-more-btn">
        <a href="#">More Articles</a>
      </div>
    </div>
    <!-- /first col -->

    <!-- second col -->
    <div class="mic-col-4">
      <h1 class="pdblog-title">Guides on Health Insurance</h1>
      <label class="pdblog-subtitle">Health Insurance</label>
      
      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/guides/thumbnail_320x180/early-stage-cancers-covered-in-lic-cancer-cover-plan-1513682743.jpg" alt="Early Stage Cancers covered in LIC Cancer Cover Plan" title="Early Stage Cancers covered in LIC Cancer Cover Plan">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/guides/thumbnail_320x180/early-stage-cancers-covered-in-lic-cancer-cover-plan-1513682743.jpg" alt="Early Stage Cancers covered in LIC Cancer Cover Plan" title="Early Stage Cancers covered in LIC Cancer Cover Plan">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
            <img src="https://d3h6xrw705p37u.cloudfront.net/guides/thumbnail_320x180/early-stage-cancers-covered-in-lic-cancer-cover-plan-1513682743.jpg" alt="Early Stage Cancers covered in LIC Cancer Cover Plan" title="Early Stage Cancers covered in LIC Cancer Cover Plan">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>
      
      <div class="pdblog-more-btn">
        <a href="#">More Guides</a>
      </div>
    </div>
    <!-- /second col -->

    <!-- third col -->
    <div class="mic-col-4">
      <h1 class="pdblog-title">Guides on Health Insurance</h1>
      <label class="pdblog-subtitle">Health Insurance</label>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
              <img src="https://i.ytimg.com/vi/wYDndYD61vU/mqdefault.jpg" class="img_t" title="Is united India &amp; PNB enough for a good health insurance portfolio?" alt="Is united India &amp; PNB enough for a good health insurance portfolio?" style="max-width:100%;" border="0">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
              <img src="https://i.ytimg.com/vi/wYDndYD61vU/mqdefault.jpg" class="img_t" title="Is united India &amp; PNB enough for a good health insurance portfolio?" alt="Is united India &amp; PNB enough for a good health insurance portfolio?" style="max-width:100%;" border="0">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>

      <a href="#">
        <div class="pdblog-block">
          <div class="pdblog-img">
              <img src="https://i.ytimg.com/vi/wYDndYD61vU/mqdefault.jpg" class="img_t" title="Is united India &amp; PNB enough for a good health insurance portfolio?" alt="Is united India &amp; PNB enough for a good health insurance portfolio?" style="max-width:100%;" border="0">
          </div>
          <div class="pdblog-desc">
            Early Stage Cancers covered in LIC Cancer Cover Plan      
          </div>
        </div>
      </a>

      <div class="pdblog-more-btn">
        <a href="#">More Videos</a>
      </div>
    </div>
    <!-- /third col -->
    
  </div>
</div>
