<div class="footer-social-wrapper">
  <div class="mic-container">
    <ul class="footer-social">
      <li>
        <span class="stay-footer">Stay Connected!</span>
      </li>
      <li>Latest Product Launches</li>
      <li>Resolve Queries</li>
      <li>Industry News</li>
      <li>Contests &amp; Prizes</li>
    </ul>

    <ul class="footer-social social-icon">
      <li class=""> 		
        <a href="https://www.facebook.com/myinsuranceclub" target="_blank"><i class="fa fa-facebook-square ic" aria-hidden="true"></i></a>
        <a href="https://twitter.com/myinsuranceclub" target="_blank"><i class="fa fa-twitter-square ic" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/+Myinsuranceclub" target="_blank"><i class="fa fa-google-plus-square ic" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/MyInsuranceClub" target="_blank"><i class="fa fa-youtube-square ic" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/myinsuranceclub" target="_blank"><i class="fa fa-linkedin-square ic" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>