<div class="feature-wrapper">
  <div class="mic-container">
    <ul class="feature-cont">
      
      <!-- first-col -->
      <li class="feature-col">
        <label class="feature-title">Saves Money</label>
        <div class="feature-desc">By comparing plans with us you can save a large amount of money every year.</div>
        <div class="feature-imp">Money saver</div>
      </li>
      <!-- /first-col -->

      <!-- second-col -->
      <li class="feature-col">
        <label class="feature-title">Fast</label>
        <div class="feature-desc">In just a few seconds, we will display premiums from different insurance companies.</div>
        <div class="feature-imp">Quick comparison</div>
      </li>
      <!-- /second-col -->

      <!-- third-col -->
      <li class="feature-col">
        <label class="feature-title">Un-biased</label>
        <div class="feature-desc">We display premiums from all insurance companies partnered with us. No one is left out!</div>
        <div class="feature-imp">Fair comparison</div>
      </li>
      <!-- /third-col -->

    </ul>
  </div>
</div>
 