<div class="pdbar-wrapper">
  <div class="pdbar-cont">
    <ul class="pdbar">
      <li>
        <a href="/health-insurance">
          <div class="product-icon mic-health-icon"></div>
          <label class="product-label">Health Insurance</label>
        </a>
      </li>
      <li> 
        <a href="/car-insurance"> 
          <div class="product-icon mic-car-icon"> </div> 
          <label class="product-label">Car Insurance</label> 
        </a> 
      </li>
      <li> 
        <a href="/two-wheeler"> 
          <div class="product-icon mic-two-wheeler-icon"> </div>
          <label class="product-label">Two Wheeler Insurance</label>  
        </a> 
      </li>
      <li> 
        <a href="/life-insurance/term-insurance"> 
          <div class="product-icon mic-term-icon"> </div>
          <label class="product-label">Term Insurance</label>  
        </a> 
      </li>
      <li> 
        <a href="/life-insurance/endowment-insurance"> 
          <div class="product-icon mic-endowment-icon"> </div>
          <label class="product-label">Endowment Plans</label>  
        </a> 
      </li>
      <li> 
        <a href="/life-insurance/money-back-policy"> 
          <div class="product-icon mic-money-icon"> </div>
          <label class="product-label">Money Back Plans</label>  
        </a> 
      </li>
      <li> 
        <a href="/life-insurance/child-plans"> 
          <div class="product-icon mic-child-icon"> </div>
          <label class="product-label">Child Plans</label>  
        </a> 
      </li>
      <li> 
        <a href="/life-insurance/pension-plan"> 
          <div class="product-icon mic-pension-icon"> </div>
          <label class="product-label">Pension Plans</label>  
        </a> 
      </li>
      <li> 
        <a href="/travel-insurance"> 
          <div class="product-icon mic-travel-icon"> </div>
          <label class="product-label">Travel Insurance</label>  
        </a> 
      </li>

    </ul>
  </div>  
</div>