<div class="pdcontent-wrapper">
  <div class="mic-container">
    <div class="mic-col-5">
      <img src="/assets/images/health/health_insurance.jpg" alt="" class="pdcontent-img">
    </div>
    <div class="mic-col-7">
      <div class="pdcontent">
        <h2 class="title">Why Compare Health Insurance with us?</h2>
        <div class="desc">
          Health expenses are increasing considerably each day and so are the health risks. With a wide array of health insurance policies, the task of choosing the best health insurance policy for your needs can be quite tough and confusing. At MyInsuranceClub we provide you with comparative health insurance quotes to select the best health insurance policy in a quick and simplified manner. You can also compare features of different health insurance policies to check the <span>best health insurance policy</span> for your requirements. .
          <ul>
            <li>With our <span>instant online calculator</span>, you can compare health insurance premiums easily</li>
            <li>With the plan features, you do get the <span>Health Insurance Comparison</span></li>
            <li>Yes, we are <span>Completely Un-biased</span> in our comparison</li>
            <li>MyInsuranceClub does this for you at no cost - <span>It's Free!</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>