<div class="footer-wrapper">
  <div class="mic-container">
    <!-- first col -->
    <div class="nav-col">
      <div class="cat-cont">
        <label class="cat-label">Company Information</label>
        <ul class="cat-list">
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/about-us">About Us</a></li>
        </ul>
      </div>

      <div class="cat-cont">
        <label class="cat-label">Connect with Us</label>
        <ul class="cat-list">
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/contact-us">Contact Us</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/Feedback">Feedback</a></li>
        </ul>
      </div>
    </div>
    <!-- /first col -->

    <!-- second col -->
    <div class="nav-col">  
      <div class="cat-cont">
        <label class="cat-label">Other Links</label>
        <ul class="cat-list">
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/ask-an-expert">Ask an Expert</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/articles">Insurance Articles</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/guides">Insurance Guides</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/insurance-news">Insurance News</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/videos">Insurance Videos</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/life-insurance/companies">Life Insurance Companies in India</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/general-insurance-companies">General Insurance Companies in India</a></li>
          <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
    </div>
    <!-- /second col -->

    <!-- third col -->
    <div class="nav-col">
        <div class="cat-cont">
          <label class="cat-label">Quick Links</label>
          <ul class="cat-list"> 
            <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/analyse">Get your Policy Analysed</a></li>
            <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/claim-assistance">Claim Assistance</a></li>
            <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a href="/account/" target="_blank">My Account</a></li>
          </ul>
        </div>
  
        <div class="cat-cont">
          <label class="cat-label">Quick Connect</label>
          <ul class="cat-list">
              <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a style="cursor:auto;text-decoration:none;">Phone: <font color="#757575">022 61647056</font></a></li>
              <li><i class="fa fa-forward fwd-ic" aria-hidden="true"></i><a style="cursor:auto;text-decoration:none;">Email: <font color="#757575">contact@myinsuranceclub.com</font></a></li>
          </ul>
        </div>
      </div>
      <!-- /third col -->

      <!-- fourth col -->
      <div class="nav-col">
        <div class="cat-cont">
          <div class="irdai-wrapper"><img src="/assets/images/irdai_mic.jpg" alt="Insurance Regulatory & Development Authority (IRDAI) License Details"></div>
          <div class="irdai-txt"><strong>Important</strong>: Insurance is the subject matter of solicitation</div>
          <div class="irdai-txt">© 2009-{{currentYear}} MyInsuranceClub.com</div>          
        </div>
      </div>
      <!-- /fourth col -->

  </div>
</div>
